version: "3.8"

services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: fitocube-mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - fitocube_net

networks:
  fitocube_net:
    driver: bridge
