CONFIG_IDF_TARGET="esp32"
CONFIG_SOIL_SENSOR_ADC_CH6=y
CONFIG_SOIL_SENSOR_SAMPLE_PERIOD_MS=1000
CONFIG_SOIL_SENSOR_SOIL_DRY_RAW=2600
CONFIG_SOIL_SENSOR_SOIL_WET_RAW=1480
CONFIG_SOIL_SENSOR_VREF_MV=1100
CONFIG_SOIL_SENSOR_WIFI_SSID="RT-GPON-1A38"
CONFIG_SOIL_SENSOR_WIFI_PASSWORD="F37ab5djig"
CONFIG_SOIL_SENSOR_MQTT_BROKER_URI="mqtt://azat222.ru:1883"
CONFIG_SOIL_SENSOR_MQTT_CMD_TOPIC="soil/cmd"
CONFIG_SOIL_SENSOR_MQTT_DATA_TOPIC="soil/data"
CONFIG_SOIL_SENSOR_PUBLISH_INTERVAL_MS=150000
CONFIG_SOIL_SENSOR_PUMP_ENABLED=y
CONFIG_SOIL_SENSOR_PUMP_IN1=25
CONFIG_SOIL_SENSOR_PUMP_IN2=26
CONFIG_SOIL_SENSOR_PUMP_MAX_DURATION_MS=600000
CONFIG_SOIL_SENSOR_PUMP_PWM_FREQ_HZ=20000
CONFIG_SOIL_SENSOR_PUMP_POWER_PERCENT=60
CONFIG_SOIL_SENSOR_BME280_ENABLED=y
CONFIG_SOIL_SENSOR_BME280_SDA=21
CONFIG_SOIL_SENSOR_BME280_SCL=22
CONFIG_SOIL_SENSOR_BME280_I2C_ADDRESS=0x76
